[Unit]
Description=Mapping Party Tracker
After=network.target mysql.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=zverik
Group=zverik
WorkingDirectory=/etc/mpt
EnvironmentFile=/etc/mpt/env
ExecStart={{ sites }}/osmz.ru/mpt/bin/mapping-party-tracker
StandardOutput=append:/var/log/apache2/{{ domain }}/py-stdout.log
StandardError=append:/var/log/apache2/{{ domain }}/py-stderr.log

[Install]
WantedBy=multi-user.target
