DEBUG = False
PROXY = True
OAUTH_KEY = '{{ awards_oauth_id }}'
OAUTH_SECRET = '{{ awards_oauth_secret }}'
SECRET_KEY = '{{ awards_secret }}'
DATABASE_URI = "mysql://{{ awards_mysql_user }}:{{ awards_mysql_password }}@localhost/{{ awards_mysql_db }}"
STAGE = '{{ awards_stage }}'
ADMINS = set({{ awards_admins | tojson }})
TEAM = set({{ awards_team | tojson }})
