{% if awards_cert.stat.exists %}
<VirtualHost *:443>
{% else %}
<VirtualHost *:80>
{% endif %}
  ServerName {{ domain }}
  ServerAlias awards.openstreetmap.org
  ServerAlias awards.osm.org

  ProxyPass / http://localhost:{{ awards_port }}/
  ProxyPassReverse / http://localhost:{{ awards_port }}/
  RequestHeader set X-Forwarded-Proto https
  RequestHeader set X-Forwarded-Prefix /

  CustomLog /var/log/apache2/{{ domain }}/access_log combined
  ErrorLog /var/log/apache2/{{ domain }}/error_log

{% if awards_cert.stat.exists %}
  SSLEngine on
  SSLCertificateFile "{{ cert_path.awards }}/fullchain.pem"
  SSLCertificateKeyFile "{{ cert_path.awards }}/privkey.pem"
{% endif %}
</VirtualHost>

{% if awards_cert.stat.exists %}
<VirtualHost *:80>
  ServerName {{ domain }}
  ServerAlias www.{{ domain }}
  ServerAlias awards.osmz.ru
  ServerAlias awards.openstreetmap.org
  ServerAlias awards.osm.org
	Redirect permanent / https://{{ domain }}/
</VirtualHost>

<VirtualHost *:443>
  ServerName www.{{ domain }}
  ServerAlias awards.osmz.ru
	Redirect permanent / https://{{ domain }}/
</VirtualHost>
{% endif %}
