{% if bigmap_cert.stat.exists %}
<VirtualHost *:443>
{% else %}
<VirtualHost *:80>
{% endif %}
  ServerName {{ domain }}
  DocumentRoot {{ sites }}/osmz.ru/bigmap/www

  CustomLog /var/log/apache2/{{ domain }}/access_log combined
  ErrorLog /var/log/apache2/{{ domain }}/error_log

{% if bigmap_cert.stat.exists %}
  SSLEngine on
  SSLCertificateFile "{{ cert_path.bigmap }}/fullchain.pem"
  SSLCertificateKeyFile "{{ cert_path.bigmap }}/privkey.pem"
{% endif %}

  <Directory {{ sites }}/osmz.ru/bigmap/www>
    Options FollowSymLinks Includes MultiViews
    AllowOverride All
  </Directory>
</VirtualHost>

{% if bigmap_cert.stat.exists %}
<VirtualHost *:80>
  ServerName {{ domain }}
  ServerAlias www.{{ domain }}
	Redirect permanent / https://{{ domain }}/
</VirtualHost>
{% endif %}
