{% if shtosm_cert.stat.exists %}
<VirtualHost *:443>
{% else %}
<VirtualHost *:80>
{% endif %}
  ServerName {{ domain }}
  DocumentRoot {{ sites }}/{{ domain }}

  CustomLog /var/log/apache2/{{ domain }}/access_log combined
  ErrorLog /var/log/apache2/{{ domain }}/error_log

{% if shtosm_cert.stat.exists %}
  SSLEngine on
  SSLCertificateFile "{{ cert_path.shtosm }}/fullchain.pem"
  SSLCertificateKeyFile "{{ cert_path.shtosm }}/privkey.pem"
{% endif %}

  <Directory {{ sites }}/{{ domain }}>
    Options FollowSymLinks Includes MultiViews
    AllowOverride All
  </Directory>
  <FilesMatch \.php$>
    SetHandler "proxy:unix:/var/run/php/php7.4-fpm.sock|fcgi://localhost"
  </FilesMatch>
</VirtualHost>

{% if shtosm_cert.stat.exists %}
<VirtualHost *:80>
  ServerName {{ domain }}
  ServerAlias www.{{ domain }}
  ServerAlias shtosm.textual.ru
	Redirect permanent / https://{{ domain }}/
</VirtualHost>

<VirtualHost *:443>
  ServerName www.{{ domain }}
  ServerAlias shtosm.textual.ru
	Redirect permanent / https://{{ domain }}/
</VirtualHost>
{% endif %}
