{
    "db": {
        "server": "localhost",
        "user_name": "{{ shtosm_mysql_user }}",
        "passw": "",
        "name": "{{ shtosm_mysql_db }}",
        "exists": true
    },
    "timezone": {
        "offset": 10800,
        "is_dst": false
    },
    "template": "shtosm",
    "language": "ru",
    "appearance": {
        "notes_per_page": 5,
        "favourites_frontpage": false,
        "show_sharing_buttons": true,
        "respond_to_dark_mode": true
    },
    "comments": {
        "fresh_only": true,
        "default_on": true
    },
    "max-image-width": "800",
    "notifications": {
        "new_comments": true
    },
    "site_title": "ШТОСМ",
    "description": "",
    "author": "Илья Зверев",
    "author_email": "ilya@zverev.info",
    "v3223_rss_permalinks_before_stamp": 1526040552
}
