{% if josm_cert.stat.exists %}
<VirtualHost *:443>
{% else %}
<VirtualHost *:80>
{% endif %}
  ServerName josm.osmz.ru
  ServerAlias josm.osmz.ee
  DocumentRoot {{ sites }}/{{ domain }}

  CustomLog /var/log/apache2/{{ domain }}/access_log combined
  ErrorLog /var/log/apache2/{{ domain }}/error_log

{% if josm_cert.stat.exists %}
  SSLEngine on
  SSLCertificateFile "{{ cert_path.josm }}/fullchain.pem"
  SSLCertificateKeyFile "{{ cert_path.josm }}/privkey.pem"
{% endif %}

  <Directory {{ sites }}/{{ domain }}>
    Options FollowSymLinks Includes MultiViews
    AllowOverride All
  </Directory>
</VirtualHost>

{% if josm_cert.stat.exists %}
<VirtualHost *:80>
  ServerName {{ domain }}
  ServerAlias josm.osmz.ru
  ServerAlias www.{{ domain }}
	Redirect permanent / https://josm.osmz.ru/
</VirtualHost>

<VirtualHost *:443>
	ServerName josm.ru
	Redirect permanent / https://josm.osmz.ru/

  SSLEngine on
  SSLCertificateFile "{{ cert_path.sotm }}/fullchain.pem"
  SSLCertificateKeyFile "{{ cert_path.sotm }}/privkey.pem"
</VirtualHost>
{% else %}
<VirtualHost *:80>
  ServerName {{ domain }}
  ServerAlias www.{{ domain }}
	Redirect permanent / http://josm.osmz.ru/
</VirtualHost>
{% endif %}
