#!/bin/sh
set -e -u
cd /srv/quartz
npx quartz build -d /opt/sync/zettel/izv -o {{ sites }}/{{ domain }}
QUIXOTIC=/srv/quixotic/target/release/quixotic
if [ -e "$QUIXOTIC" ]; then
  rm -rf /tmp/izv_fake || true
  mkdir /tmp/izv_fake
  "$QUIXOTIC" --input "{{ sites }}/{{ domain }}" --output "/tmp/izv_fake" || true
  rm /tmp/izv_fake/.htaccess
  mv /tmp/izv_fake "{{ sites }}/{{ domain }}/fake"
fi
