:root {
    --blogTitleFontSize: 16px;
    --blogTitleLineHeight: 24px;
    --noteTitleFontSize: 24px;
    --noteTitleLineHeight: 1.2;
    --noteTextFontSize: 16px;
    --noteTextLineHeight: 24px;
}

.title h1 {
    font-size: 48px;
    line-height: 48px;
}
