{% if aw_cert.stat.exists %}
<VirtualHost *:443>
{% else %}
<VirtualHost *:80>
{% endif %}
	ServerName awstats.textual.ru
	DocumentRoot /var/cache/awstats

  Alias /awstatsclasses /usr/share/awstats/lib/
  Alias /awstatscss /usr/share/doc/awstats/examples/css/
  Alias /icons /usr/share/awstats/icon/
  ScriptAlias /awstats-cgi/ /usr/lib/cgi-bin/

  CustomLog /var/log/apache2/awstats.textual.ru/access_log combined
  ErrorLog /var/log/apache2/awstats.textual.ru/error_log

{% if aw_cert.stat.exists %}
  SSLEngine on
  SSLCertificateFile "{{ cert_path.awstats }}/fullchain.pem"
  SSLCertificateKeyFile "{{ cert_path.awstats }}/privkey.pem"
{% endif %}

  <Directory /var/cache/awstats>
    Require all granted
    Options None
    AllowOverride None
  </Directory>

  <Directory /usr/lib/cgi-bin>
    AuthType Basic
    AuthName "Sorry"
    AuthUserFile /etc/apache2/.awpasswd
    Require valid-user
    Options FollowSymLinks Includes MultiViews ExecCGI
    AllowOverride None
  </Directory>
</VirtualHost>

{% if aw_cert.stat.exists %}
<VirtualHost *:80>
  ServerName awstats.textual.ru
	Redirect permanent / https://awstats.textual.ru/
</VirtualHost>
{% endif %}
