[Unit]
Description=OSM Streak
After=syslog.target

[Service]
Type=simple
Restart=on-failure
User=zverik
Group=zverik
WorkingDirectory={{ sites }}/osmz.ru/streak
ExecStart={{ sites }}/osmz.ru/streak/.venv/bin/gunicorn -b 0.0.0.0:{{ osmstreak_port }} src.www:app
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/var/log/apache2/{{ domain }}/py-stdout.log
StandardError=append:/var/log/apache2/{{ domain }}/py-stderr.log

[Install]
WantedBy=multi-user.target
