{
    "db": {
        "server": "localhost",
        "user_name": "{{ radio_mysql_user }}",
        "passw": "",
        "name": "{{ radio_mysql_db }}",
        "exists": false
    },
    "timezone": {
        "offset": 14400,
        "is_dst": false
    },
    "template": "radioosmru",
    "language": "ru",
    "appearance": {
        "notes_per_page": 4,
        "show_sharing_buttons": true,
        "respond_to_dark_mode": true,
        "show_view_counts": false
    },
    "comments": {
        "fresh_only": true,
        "default_on": true,
        "require_gip": false
    },
    "max-image-width": "768",
    "notifications": {
        "new_comments": true
    },
    "author": "Илья Зверев и другие",
    "blog_subtitle": "Закрыто. Старые записи также на ((http:\/\/zverik.podfm.ru\/osmru\/ podfm.ru)) и на ((https:\/\/player.fm\/series\/openstreetmap player.fm)).",
    "blog_title": "OSM Радио",
    "author_email": "ilya@zverev.info",
    "meta_description": ""
}
