{% if pinx_cert.stat.exists %}
<VirtualHost *:443>
{% else %}
<VirtualHost *:80>
{% endif %}
  ServerName pin-x.textual.ru
  DocumentRoot {{ sites }}/pin-x.ru

  CustomLog /var/log/apache2/pin-x.ru/access_log combined
  ErrorLog /var/log/apache2/pin-x.ru/error_log

{% if pinx_cert.stat.exists %}
  SSLEngine on
  SSLCertificateFile "{{ cert_path.pinx }}/fullchain.pem"
  SSLCertificateKeyFile "{{ cert_path.pinx }}/privkey.pem"
{% endif %}

  <Directory {{ sites }}/pin-x.ru>
    Options FollowSymLinks Includes MultiViews
    AllowOverride All
  </Directory>
</VirtualHost>

{% if pinx_cert.stat.exists %}
<VirtualHost *:80>
  ServerName pin-x.textual.ru
	Redirect permanent / https://pin-x.textual.ru/
</VirtualHost>
{% endif %}
