{
    "db": {
        "server": "localhost",
        "user_name": "{{ seen_mysql_user }}",
        "passw": "",
        "name": "{{ seen_mysql_db }}",
        "exists": true
    },
    "timezone": {
        "offset": 10800,
        "is_dst": false
    },
    "template": "seeing",
    "language": "ru",
    "appearance": {
        "notes_per_page": 10,
        "show_sharing_buttons": true
    },
    "comments": {
        "fresh_only": true,
        "default_on": false
    },
    "max-image-width": "768",
    "user": {
        "email": "ilya@zverev.info"
    },
    "notifications": {
        "new_comments": true
    },
    "site_title": "Посмотрел, прочитал",
    "description": "Спойлеры! *** — шедевр, ** — хорошо, * — вообще никак, - — отстой",
    "author": "Илья Зверев"
}
