{
    "db": {
        "server": "localhost",
        "user_name": "{{ seen_mysql_user }}",
        "passw": "",
        "name": "{{ seen_mysql_db }}",
        "exists": true
    },
    "timezone": {
        "offset": 10800,
        "is_dst": false
    },
    "template": "seeing",
    "language": "ru",
    "appearance": {
        "notes_per_page": 10,
        "show_sharing_buttons": true,
        "respond_to_dark_mode": true,
        "show_view_counts": false
    },
    "comments": {
        "fresh_only": true,
        "default_on": false,
        "require_gip": false
    },
    "max-image-width": "768",
    "notifications": {
        "new_comments": true
    },
    "author": "Илья Зверев",
    "blog_subtitle": "Спойлеры! *** — шедевр, ** — хорошо, * — вообще никак, - — отстой",
    "blog_title": "Посмотрел, прочитал",
    "author_email": "ilya@zverev.info"
}
