:root {
    --blogTitleFontSize: 16px;
    --blogTitleLineHeight: 24px;
    --noteTitleFontSize: 16px;
    --noteTitleLineHeight: 1.2;
    --noteTextFontSize: 16px;
    --noteTextLineHeight: 24px;
}

.title {
    max-width: none;
}

.title h1 {
    font-size: 20px;
}

.spotlight, #e2-blog-description {
    font-size: 90%;
}
